.marcador {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    color: #FFFFFA;
    /* Inserir a fonte padrão
        font-family: ;
    */
    font-family: 'Lalezar', cursive;
}


body {
    background-color: #000E3E;
    height: 100%;
    overflow: auto !important;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFA;
    text-align: justify;
    text-justify: inter-word;
}


.container h1 {
    font-family: 'Lalezar', cursive;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #FFFFFA;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container h2 {
    font-family: 'Lalezar', cursive;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #FFFFFA;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 10px 0;
}

/************* HOME *****************/
.banner_image{
    background-image: url('../images/BlueCircuit.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: #FFFFFA;
    position: fixed;
    top: 12px;
    width: 100%;
    height: 60px;
    z-index:10
}

.navbar .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.navbar .logo{
    width: max-content;
    height: 60px;
    float: left;
}

.navbar .logo a img {
    margin: 10px;
    height: 40px;
    float: left;
}

.navbar .navbar_items ul {
    float: right;
}

.navbar .navbar_items li {
    float: left;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    list-style: none;
}

.navbar .navbar_items ul li a {
    color: #000E3E;
    text-decoration: none;
    font-family: Poppins;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
}

.navbar .navbar_items ul li a:hover {
    font-weight: 600;
}

.navbar .icon_menu label img {
    margin: 10px;
    height: 40px;
    float: left;
}

.icon_menu {
    height: 60px;
    position: absolute;
    color: #000E3E;
    right: 12px;
    visibility: hidden;
}

.icon_menu input {
    float: right;
    /*visibility: hidden;*/
}



/************* Banner ************/
.baner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    transform: scale(0.8,0.8);
}
  
.social_midia {
    margin-top: -25px;
}
  
.social_midia ul li a img {
    height: 40px;
    padding: 5px
}

.name {
    font-family: 'Lalezar', cursive;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #FFFFFA;
}

.name h1 {
    font-size: 130px;
    line-height: 100%;
}

.name h2 {
    font-size: 35px;
    line-height: 100%;
    margin-top: -30px;
    margin-left: 3px;
}

/* Sobre*/
.container {
    padding: 20px 10%;
}
.about {
    background-color: #2C2A4A
}

/* curriculo */
.curriculum{
    background-image: url('../images/matrix_bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/*
.curriculum .elements {
    display: flex;
}
.langs {
    width: 50%;
}

.timeline {
    width: 50%;
    float: right;
}
*/
/* Rodapé */
.footer {
    background-color: #021718;
    bottom: 0px;
    width: 100%;


}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .year {
    padding-bottom:20px;
    text-align: center;
}

@media all and (max-width: 750px){
    .navbar {
        overflow: hidden;
        background-color: #FFFFFA;
        position: fixed;
        top: 12px;
        width: 100%;
        height: auto;
    }

    .navbar .navbar_items ul {
        margin-right: 0px;
        float: right;
        display: none;
    }

    #btn:checked + .navbar .navbar_items ul{
        display: block;
    }

    .navbar .navbar_items li {
        width: 100%;
        border-bottom: 3px solid #cccccc;
    }

    .navbar ul li:hover {
        background-color: blue;
    }
    .navbar .navbar_items ul li a:hover {
        font-weight: normal;
    }

    .navbar .logo {
        width: 80%;
    }

    .navbar .icon_menu {
        width: 50%;
        float: right;
        width: 80px;
        line-height: 60px;
        text-align: center;
    }

    .navbar .icon_menu img{
        margin: 12px 12px 12px 12px;
        height: 40px;
    }

    .icon_menu {
        visibility: visible;
    }

    .icon_menu input{
        visibility: hidden;
    }

    .name h2 and .name h1{
        font-size: 15px
    }
}

@media screen and (max-width: 500px ){

    .social_midia ul li {
        display: inline;
        padding-right: 26px;
        display: inline-block;
    }
    .social_midia>ul>li:last-child {
        padding-right: 0px;
    }

    .social_midia ul li a img {
        height: 56px;
    }
    
    .baner_content{
        display: block;
        justify-content: center;
        align-items: top;
        height: 812px;
        margin: 0;
        padding: 0;
        padding-top: 200px;
    }

    .name h1 {
        font-size: 600%;
        line-height: 100%;
    }

    .name h2 {
        font-size: 30px;
        line-height: 100%;
        margin-top: -5px;
        margin-left: 1px;
    } 
    
}

@media (max-width: 400px){


    .social_midia ul li {
        display: inline;
        padding-right: 15px;
        display: inline-block;
    }
    .social_midia>ul>li:last-child {
        padding-right: 0px;
    }

    .social_midia ul li a img {
        height: 56px;
    }

    .baner_content{
        display: block;
        justify-content: center;
        align-items: top;
        height: 812px;
        margin: 0;
        padding: 0;
        padding-top: 200px;
    }

    .name h1 {
        font-size: 85px;
        line-height: 100%;
    }

    .name h2 {
        font-size: 25px;
        line-height: 100%;
        margin-top: -5px;
        margin-left: 1px;
    }

    .banner_image{
        background-position: top center;
    }

    /* curriculo */
    .curriculum{
        background-image: url('../images/matrix_bg.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .curriculum .elements {
        display: initial;
    }
    .langs {
        width: 100%;
    }

    .timeline {
        width: 100%;
        justify-items: center;
        text-align: center;
        padding: 0 10%;
    }
}

@media (max-width: 357px){
    .social_midia ul li a img {
        height: 40px;
    }
}
